
      img {
        width: 100px;
        height: 100px;
        border-radius: 40px;
        float: left;
        margin-right: 20px;
      }

      .username {
        font-weight: bold;
      }
      body {
        background-image: url("images/aurora3.jpg");
        background-size: cover;
        background-position: top center;
        background-repeat: no-repeat;
        height: 100vh;
        background-attachment: fixed;
        margin: 0;
      }
     